{% extends 'Chats/base.html' %}

{% block explicit %}
	<h1>
		LOGIN TO USE THIS CHAT APP
	</h1>
	<div>
		<form method="post">
			{% csrf_token %}
			<label for = "username">Username:</label>
			<input type="text" name="username" placeholder="Username">
			<label for="password">Password:</label>
			<input type="password" name="password" placeholder="Password">
			<input type="submit" name="" value="Login">
		</form>
	</div>
	<div>
		Not a user yet? <a href="{% url '' %}">Sign Up</a>
	</div>

{% endblock %}